@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-surface-border: var(--surface-border);
  --color-accent: var(--accent);
  --color-accent-soft: var(--accent-soft);
  --color-pink-1: var(--pink-1);
  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-white: var(--white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
